.page {
    background-color: #5a6575;
    max-width: 1280px;
    min-width:  1280px;
    margin: 0 auto;
    font-family: 'Inter', 'Arial', sans-serif;
    color: #fff;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
