.places {
  display: grid;
  grid-template-rows: repeat(5, minmax(min-content, max-content));
  max-width: 984px;
  grid-row-gap: 80px;
  margin: 92px auto 0;
}

@media screen and (max-width: 1024px) {
  .places {
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .places {
    max-width: 720px;
    grid-row-gap: 73px;
  }
}

@media screen and (max-width: 425px) {
  .places {
    max-width: 320px;
    margin: 0 auto;
    grid-row-gap: 50px;
  }
}
