@media screen and (max-width: 1024px) {
  .header {
    max-width: 928px;
  }

  .travel {
    max-width: 928px;
  }

  .travel__image {
    max-width: 928px;
  }

  .travel__title {
    margin: 48px auto 0;
  }

  .travel__subtitle {
    margin: 32px auto 56px;
  }

  .intro {
    max-width: 690px;
    margin: 92px 0 0 48px;
  }

  .photo-grid {
    max-width: 928px;
    gap: 14px;
    grid-template-columns: repeat(3, minmax(min-content, max-content));
  }

  .places {
    max-width: 928px;
  }

  .place {
    gap: 48px 32px;
    grid-template-columns: minmax(340px, 440px) minmax(352px, 456px);
  }

  .cover {
    max-width: 1024px;
    height: 640px;
    margin: 92px 0 92px 0;
  }

  .footer {
    max-width: 928px;
  }
}
