@media screen and (max-width: 768px) {
  .header {
    max-width: 720px;
  }

  .travel {
    max-width: 768px;
  }

  .travel__image {
    max-width: 768px;
  }

  .travel__caption {
    margin: 8px 0 0 24px;
  }

  .intro {
    max-width: 720px;
    margin: 88px auto;
  }

  .intro__title {
    max-width: 720px;
    margin: 0 auto;
  }

  .photo-grid {
    max-width: 720px;
    gap: 16px;
    grid-template-columns: repeat(2, minmax(min-content, max-content));
    margin: 0 auto 88px;
  }

  .places {
    max-width: 720px;
    grid-row-gap: 73px;
  }

  .place {
    gap: 48px 28px;
    grid-template-columns: minmax(min-content, 340px) minmax(min-content, 352px);
  }

  .place__title {
    font-size: 42px;
    line-height: 46px;
  }

  .place__paragraph {
    font-size: 16px;
    line-height: 26px;
  }

  .cover {
    max-width: 768px;
    height: 480px;
    margin: 90px 0 88px 0;
  }

  .footer {
    max-width: 720px;
    margin: 0 16px 24px;
  }


}
