.link {
  line-height: 28px;
  font-size: 24px;
  color: #FFF;
  margin: 0;
  align-self: end;
}

.link:first-child {
  margin-right: 18px;
}

.link:not(:hover) {
  text-decoration: none;
}

@media screen and (max-width: 425px) {
  .link {
    line-height: 18px;
    font-size: 20px;
  }
}
