@import url(../blocks/page/page.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__lang-links/header__lang-links.css);

@import url(../blocks/logo/logo.css);
@import url(../blocks/logo/_place/logo_place_header.css     );

@import url(../blocks/link/link.css);
@import url(../blocks/link/_place/link_place_header.css);

@import url(../blocks/travel/travel.css);
@import url(../blocks/travel/__caption/travel__caption.css);
@import url(../blocks/travel/__image/travel__image.css);
@import url(../blocks/travel/__subtitle/travel__subtitle.css);
@import url(../blocks/travel/__title/travel__title.css);

@import url(../blocks/intro/intro.css);
@import url(../blocks/intro/__list/intro__list.css);
@import url(../blocks/intro/__lists/intro__lists.css);
@import url(../blocks/intro/__span-accent/intro__span-accent.css);
@import url(../blocks/intro/__text/intro__text.css);
@import url(../blocks/intro/__title/intro__title.css);

@import url(../blocks/photo-grid/photo-grid.css);
@import url(../blocks/photo-grid/__image/photo-grid__image.css);

.places {
  display: grid;
  grid-template-rows: repeat(5, minmax(min-content, max-content));
  max-width: 984px;
  grid-row-gap: 80px;
  margin: 92px auto 0;
}

.place {
  display: grid;
  grid-template-columns: 460px 484px;
  background-color: #2A2C2F;
  gap: 48px 40px;
}


.place__title {
  max-width: 460px;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  margin: 0;
}

.place__image {
  max-width: 460px;
  max-height: 460px;
}

.place__website {
  display: flex;
  flex-direction: column;
  align-self: end;
  max-width: 456px;
  max-height: 46px;
}

.place__URL-heading {
  margin: 0 0 12px 0;
  color: #AAAAAA;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
}

.place__link {
  color: #fff;
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
}

.place__text {
  max-width: 484px;
}

.place__paragraph {
  margin: 0 0 26px 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
}

.place__paragraph:last-child {
  margin: 0;
}
