@import url(../blocks/page/page.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__lang-links/header__lang-links.css);

@import url(../blocks/logo/logo.css);
@import url(../blocks/logo/_place/logo_place_header.css     );

@import url(../blocks/link/link.css);
@import url(../blocks/link/_place/link_place_header.css);

@import url(../blocks/travel/travel.css);
@import url(../blocks/travel/__caption/travel__caption.css);
@import url(../blocks/travel/__image/travel__image.css);
@import url(../blocks/travel/__subtitle/travel__subtitle.css);
@import url(../blocks/travel/__title/travel__title.css);

@import url(../blocks/intro/intro.css);
@import url(../blocks/intro/__list/intro__list.css);
@import url(../blocks/intro/__lists/intro__lists.css);
@import url(../blocks/intro/__span-accent/intro__span-accent.css);
@import url(../blocks/intro/__text/intro__text.css);
@import url(../blocks/intro/__title/intro__title.css);

@import url(../blocks/photo-grid/photo-grid.css);
@import url(../blocks/photo-grid/__image/photo-grid__image.css);

@import url(../blocks/places/places.css);

@import url(../blocks/place/place.css);
@import url(../blocks/place/__image/place__image.css);
@import url(../blocks/place/__link/place__link.css);
@import url(../blocks/place/__paragraph/place__paragraph.css);
@import url(../blocks/place/__text/place__text.css);
@import url(../blocks/place/__title/place__title.css);
@import url(../blocks/place/__URL-heading/place__URL-heading.css);
@import url(../blocks/place/__website/place__website.css);

.cover {
  margin: 92px auto 100px;
  width: 1184px;
  height: 740px;
  /* background-image: url(../images/cover-trains.jpg); */
}

.cover__opacity {
  width: inherit;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../images/cover-trains.jpg);
  opacity: 0.3;
  position: relative;
}

.cover__image {
  width: inherit;
  height: inherit;

}

.cover__title {
  width: 560px;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  margin: 0 0 32px 0;
  position: absolute;
  z-index: 1;
}

.cover__subtitle {
  width: 360px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin: 0;
}
