.footer {
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content,max-content)) ;
  max-width: 1184px;
  margin: 0 auto 24px;
}

@media screen and (max-width: 1024px) {
  .footer {
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    max-width: 720px;
    margin: 0 16px 24px;
  }
}

@media screen and (max-width: 425px) {
  .footer {
    grid-template-columns: minmax(min-content, max-content);
    grid-row-gap: 48px;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    max-width: 186px;
  }
}
